<h3>会員情報編集</h3>
<p>氏名<%= @customer.last_name %><%= @customer.first_name %></p>
<p>フリガナ<%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
<p>郵便番号<%= @customer.postal_code %></p>
<p>住所<%= @customer.address %></p>
<p>電話番号<%= @customer.telephon_nunber %></p>
<p>メールアドレス<%= @customer.email %></p>
<%= link_to '編集内容を保存', public_customers_information_path, method: :update, class: 'btn-btn-success' %>
<%= link_to '退会する', public_customers_withdraw_path,  method: :update, class: 'btn-btn-denger' %>
<!--電話番号のカラムが違うが、マイグレーションで定義されているもので使用できるためスペルミスのまま使用-->