<h3>会員情報編集</h3>
<%= form_with model: @customer, url: public_customers_information_path, method: :patch  do |f| %>
<div>
 <%= f.label :last_name , '氏名' %>
 <%= f.text_field :last_name %><%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name_kana, 'フリガナ' %>
  <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %>
</div>
<div>
  <%= f.label :postal_code, '郵便番号' %>
  <%= f.text_field :postal_code, class: 'form-control' %>
</div>
<div>
  <%= f.label :address, '住所' %>
  <%= f.text_field :address, class: 'form-control' %>
</div>
<div>
  <%= f.label :telephon_nunber, '電話番号' %>
  <%= f.text_field :telephon_nunber, class: 'form-control' %>
</div>
<div>
 <%= f.label :email, 'メールアドレス' %>
 <%= f.text_field :email, class: 'form-control' %>
</div>
<div>
  <%= f.submit '編集内容を保存',  class: 'btn-btn-success' %>
</div>
<% end %>
<!--</%= link_to '編集内容を保存', public_customers_information_path, method: :update, class: 'btn-btn-success' %>-->
<%= link_to '退会する', public_customers_withdraw_path,  method: :update, class: 'btn-btn-denger' %>
<!--電話番号のカラムが違うが、マイグレーションで定義されているもので使用できるためスペルミスのまま使用-->