<h1>注文履歴詳細</h1>

<p>購入者<%= link_to order.name, admin_customer_path(@customer.id) %></p>
<p>注文日</p>
<p>注文先</p>
<p>支払方法</p>
<p>注文ステータス
<%= form_with model:order , url: admin_order_path(order.id) do |f| %>
<%= f.select :status, %> 
<%= f.submit '更新', class: 'btn-btn-success' %>
<% end %>
</p>

<table>
 <thead>
  <tr>
  <th>商品名</th>
  <th>単価（税込）</th>
  <th>数量</th>
  <th>小計</th>
  <th>制作ステータス</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><%= %></td>
   <td><%= %></td>
   <td><%= %></td>
   <td><%= %></td>
   <td>
   <%= form_with model:order_details , url: admin_order_path(order.id) do |f| %>
   <%= f.select :making_status, %>
   <%= f.submit '変更', class: 'btn-btn-success' %>
   </td>
  </tr>
 </tbody>
</table>


<p>商品合計<%= @order.total_payment %></p>
<p>送料<%= @order.shipping_cost %></p>
<p>請求金額合計<%= @order.total_payment %></p>