<h1>ショッピングカート</h1>
<div>
  <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete ,data: {confirm: "本当によろしいですか？"}, class: "btn btn-sm btn-danger destroy_all_cart_items_path" %>
</div>
<table>
 <thead>
  <tr>
   <th>商品名</th>
   <th>単価（税込）</th>
   <th>数量</th>
   <th>小計</th>
   <th></th>
  </tr>
 </thead>
 <tbody>
  <% @cart_items.each do |cart_item| %>
  <tr>
   <%= form_with model: CartItem.new , url: new_public_order_path  do |f| %>
   <td><%= image_tag @item.get_item_image(20,20) %><%= item.name %></td>
   <td><%= cart_item.item.with_tax_price %></td>
   <td><%= cart_item.amount %></td>
   <td><%= cart_item.subtotal %></td>
   <td><%= link_to "削除", cart_item_path(@cart_item), method: :delete ,data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-danger destroy_cart_item_path" %></td>
   <% @total +=  cart_item.subtotal %>
  <% end %>
  </tr>
 <% end %>
 </tbody>
</table>
<p>合計金額 <%= @total %></p>
<div class="form-group">
  <%= link_to '情報入力に進む',  new_public_order_path %>
</div>