<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  名前
  <div class="field">
    <%= f.label :（姓） %><br />
    <%= f.text_field :last_name,autofocus: true, autocomplete: "（姓）", placeholder: "令和" %>
  </div>
  <div class="field">
    <%= f.label :（名） %><br />
    <%= f.text_field :first_name, autocomplete: "（名）", placeholder: "道子" %>
  </div>
  フリガナ
  <div class="field">
    <%= f.label :（セイ） %><br />
    <%= f.text_field :last_name_kana, autocomplete: "（セイ）", placeholder: "レイワ" %>
  </div>
  <div class="field">
    <%= f.label :（メイ） %><br />
    <%= f.text_field :first_name_kana, autocomplete: "（メイ）", placeholder: "ミチコ" %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>
　<div class="field">
    <%= f.label :郵便番号（ハイフンなし） %><br />
    <%= f.text_field :postal_code,  placeholder: "0000000" %>
  </div>
  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address,  placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
  <div class="field">
    <%= f.label :電話番号（ハイフンなし） %><br />
    <%= f.telephone_field :telephon_nunber, placeholder: "0000000000" %>
  </div>
  <div class="field">
    <%= f.label :パスワード（6文字以上） %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
すでに登録済みの方
 からログインしてください
<%= render "public/shared/links" %>
