<h1>注文情報確認</h1>
<table>
 <thead>
  <tr>
   <th>商品名</th>
   <th>単価（税込）</th>
   <th>数量</th>
   <th>小計</th>
  </tr>
 </thead>
 <tbody>
<% @total = 0 %>
<% @cart_items.each do |cart_item| %>
  <tr>
   <td><%= image_tag cart_item.item.get_item_image(20,20) %><%= cart_item.item.name %></td>
   <td><%= cart_item.item.with_tax_price %></td>
   <td><%= cart_item.item.price %></td>
   <td><%= cart_item.amount %></td>
   <td><%= cart_item.subtotal%></td>
   <td><% @total +=  cart_item.subtotal %></td>
  </tr>
  <% end %>
 </tbody>
</table>

<table>
 <tr>
  <th>送料</th>
  <td><%= @order.shipping_cost %></td>
 </tr>
 <tr>
  <th>商品合計</th>
  <td><%= @total %></td>
 </tr>
 <tr>
  <th>請求金額</th>
  <td><%= @order.shipping_cost + @total %></td>
 </tr>
</table>

支払方法
<%= @order.payment_method_i18n %>

お届け先
<%= @order.name %>
<%= @order.postal_code %>
<%= @order.address %>
 <!--</%= link_to '注文を確定する', public_odrders_complete_path, class: 'btn btn-success' %>-->
