<h1>注文情報確認</h1>
<table>
 <thead>
  <tr>
   <th>商品名</th>
   <th>単価（税込）</th>
   <th>数量</th>
   <th>小計</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
 </tbody>
</table>

<table>
 <tr>
  <th>送料</th>
  <td></td>
 </tr>
 <tr>
  <th>商品合計</th>
  <td></td>
 </tr>
 <tr>
  <th請求金額></th>
  <td></td>
 </tr>
</table>

支払方法


お届け先
<% if order.payment_method == "1" %>
<%= @order.name %>
<%= @order.address %>
<% elsif order.payment_method == "2" %>
<%= @order.name %>
<%= @order.address %>
<% else %>
<%= @address.name %>
<%= @address.postal_code %>
<%= @address.address %>
<% end %>

 <%= link_to '注文を確定する', public_odrders_complete_path, class: 'btn btn-success' %>
