<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <a class="navbar-toggler" href="/">ながのCake</a>
  <nav class="navbar navbar-expand-lg  ">
   <div class="container">
   <ul class="navbar-nav">
   <% if customer_signed_in? %>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to public_customers_my_page_path, class:'nav-link ' do %>
   マイページ
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to public_items_path, class:'nav-link ' do %>
   商品一覧
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to public_cart_items_path, class:'nav-link ' do %>
   カート
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to destroy_customer_session_path, method: :delete,class:'nav-link ' do %>
   ログアウト
   <% end %>
   </button>
   </li>
   <% elsif admin_signed_in? %>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to admin_items_path, class:'nav-link ' do %>
   商品一覧
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to admin_customers_path, class:'nav-link ' do %>
   会員一覧
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to admin_path, class:'nav-link ' do %>
   注文履歴一覧
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to admin_genres_path, class:'nav-link ' do %>
   ジャンル一覧
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to destroy_admin_session_path, method: :delete,class:'nav-link ' do %>
   ログアウト
   <% end %>
   </button>
   </li>
   <% else %>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to about_path, class: 'nav-link ' do %>
   About
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to public_items_path, class: 'nav-link ' do %>
   商品一覧
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to new_customer_registration_path, class: 'nav-link ' do %>
   新規登録
   <% end %>
   </button>
   </li>
   <li>
   <button class="btn btn-sm btn-outline-secondary" type="button">
   <%= link_to new_customer_session_path, class: 'nav-link ' do %>
   ログイン
   <% end %>
   </button>
   </li>
   </li>
   </ul>
   </div>
   <% end %>
   </nav>
  </header>
    <%= yield %>
  </body>
</html>
